{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<div class="container">
		<h1>À propos de BKStyle</h1>
		<div>
			<h2>Notre histoire</h2>
			<p>Chez BKStyle, nous croyons en la puissance du commerce en ligne pour améliorer la vie des gens. Fondée en [année de fondation], notre entreprise est née de la passion de connecter les consommateurs à des produits de qualité et de rendre le shopping en ligne plus accessible que jamais.</p>
			<div>
				<div>
					<h2>Notre mission</h2>
					<p>
						Notre mission est de simplifier votre expérience d'achat en ligne. Nous nous efforçons de vous offrir les produits les plus recherchés et les plus innovants, tout en vous proposant un service exceptionnel. Que vous cherchiez des vêtements tendance, des produits électroniques de pointe, des articles de décoration pour la maison ou bien plus encore, nous sommes là pour répondre à tous vos besoins.
					</p>
				</div>
				<div>
					<h2>Notre engagement envers la qualité</h2>
					<p>Chez BKStyle, la qualité est notre priorité absolue. Nous travaillons en étroite collaboration avec des fournisseurs de confiance pour vous garantir des produits de haute qualité à des prix compétitifs. Chaque produit que nous proposons est soumis à des contrôles de qualité stricts pour s'assurer qu'il répond à vos attentes.</p>
				</div>
				<div>
					<h2>Notre équipe</h2>
					<p>Notre équipe dévouée est composée de passionnés du commerce en ligne, de concepteurs, de développeurs et de spécialistes du service client. Nous travaillons ensemble pour créer une expérience de shopping en ligne exceptionnelle pour vous. Si vous avez des questions, des commentaires ou des préoccupations, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.</p>
				</div>
				<div>
					<h2>Nos valeurs</h2>
					<p>Intégrité : Nous croyons en la transparence et en l'honnêteté dans toutes nos interactions avec les clients.
																		Innovation : Nous restons à l'avant-garde de la technologie et des tendances pour vous offrir les produits les plus récents et les plus innovants.
																		Service client : Votre satisfaction est notre priorité numéro un. Nous nous efforçons de répondre à toutes vos demandes de manière rapide et courtoise.
																		Responsabilité : Nous nous engageons à minimiser notre impact sur l'environnement et à soutenir des pratiques commerciales durables.
																		Merci de faire confiance à BKStyle pour vos besoins en ligne. Nous sommes impatients de vous offrir la meilleure expérience d'achat possible.
																		
																		Pour toute question, contactez-nous à adressemail@gmail.com ou appelez notre service clientèle au 00000000.

					</p>
				</div>
			</div>

		{% endblock %}
